extends layout

block content
	include modals/reset-password

block scripts
	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.24/jquery.form.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.1.0/bootstrap-modal.pack.js')
	script(src='/js/views/reset.js')
	script(src='/js/form-validators/resetValidator.js')